<div class="layout-wrapper">
  <div id="root" class="root">
    <div class="index-container">
      <div class="main" id="main">
        <div class="wrapper">
          <section class="main-container">
            <h2 class="test-title">Пробное задание</h2>
            <p class="test-text">Перед основным тестированием ваших когнитивных способностей вы пройдете "Пробный тест" (его результат не учитывается при анализе тестируемых способностей, это проба).</p>
            <p class="test-text">Нажмите "Начать", когда будете готовы.</p>
            <p class="test-text">Нажмите "Пропустить", чтобы перейти к основному заданию</p>

            <div class="instructions-continue-container">
              <button class="button button--yellow-white" (click)="navigateToTrialProcess()">Начать</button>
            </div>
            <div class="skip-trial-container">
              <button class="button button--text" (click)="skipTrialProcess()">Пропустить</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
  