<button class="button back_button" (click)="goBack()">
    <img src="assets/img/icons8-стрелка-50.png" alt="" />
  </button>
  <div id="root" class="root">
    <div class="index-container"> 
      <div class="main" id="main">
        <div class="wrapper">
          <div class="test-running">
            <h2 class="test-title">Trial task</h2>
            <p style="margin: 20px 0px; text-align: center">
                Before the Main Test of your cognitive abilities, 
                you will take a Practice Test (its result is not taken into account 
                when analyzing the abilities being tested, it is a sample).
            </p>
            <p style="margin: 20px 0px; text-align: center">
                Click "Begin" when you're ready.
            </p>
            <button
              class="button button--yellow-white"
              (click)="navigateToTrialProcess()"
            >
              Begin
            </button>
            <button
              class="skipTrialProcess"
              (click)="skipTrialProcess()"
            >
              Skip
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  