<div class="layout-wrapper">
  <div id="root" class="root">
    <div class="index-container">
      <div class="main" id="main">
        <div class="wrapper">
          <section class="main-container">
            <h2 class="test-title">Основное задание</h2>
            <p class="test-text">Нажмите "Начать", когда будете готовы.</p>
            <div class="instructions-continue-container">
              <button class="button button--yellow-white" (click)="navigateToMainProcess()">Начать</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>