<div id="root" class="root">
    <div class="index-container">
      <main class="main" id="main">
        <section class="section">
          <div class="wrapper">
            <div class="section__text-container">
              <h2 class="test-title">Вход в учетную запись</h2>
            </div>
            <div class="main-container">
              <form class="registration-form" style="display: flex; flex-direction: column; gap: 20px; width: 100%; max-width: 400px; margin: 0 auto;">
                <div style="display: flex; flex-direction: column; gap: 10px;">
                  <label style="font-size: 16px; font-weight: 600;">Email</label>
                  <input type="email" style="padding: 12px; border: 2px solid #e6e6e6; border-radius: 8px; font-size: 16px; width: 100%;" placeholder="Введите ваш email">
                </div>
  
  
                <div style="display: flex; flex-direction: column; gap: 10px;">
                  <label style="font-size: 16px; font-weight: 600;">Пароль</label>
                  <input type="password" style="padding: 12px; border: 2px solid #e6e6e6; border-radius: 8px; font-size: 16px; width: 100%;" placeholder="Введите ваш пароль">
                </div>
  
                
                <button type="submit" class="button button--yellow-white" style="margin-top: 20px; margin-left: auto; margin-right: auto;">
                    Войти
                </button>
                
                <button id="registrationButton" type="button" class="button" style="margin: 0 auto; font-size: 14px; padding: 0 20px; height: 40px; color: #95c11f; border: 1px solid #95c11f; background: transparent;">
                    Зарегистрироваться
                </button>
                
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>