<app-instruction
  [title]="'Verbal memory test'"
  [instructions]="[
    { title: 'Cognitive abilities tested:', text: 'Visual perception, verbal memory, information processing speed, response time.' },
    { title: 'Duration:', text: 'Approximately 60-210 seconds.' },
    { title: 'Target:', text: 'Determine the volume of verbal memory.' },
    { title: 'Instructions for the task:', text: '
    1) A picture will appear on the screen for a short period of time, remember this picture. <br><br>
    2) After the picture disappears, four letters will appear on the screen.<br><br>
    3) One of them is the first letter of the word that appears in the form of a picture.<br><br>
    4) Click on that letter as quickly as you can.
      '
    }
  ]"
></app-instruction>